---
layout: base.njk
---
<h1>Continuing Care Guide</h1>

<h3 class="index__header">Table of Contents</h3>
<ul class="index__list">
  <li class="index__list-item">
    {% if title == "Guide" %}
      Overview
      {% else %}
      <a href="/guide">Overview</a>
    {% endif %}
  </li>
  {% for page in collections.all %}
    {% if page.data.section == "guide" and page.data.subsection %}
      <li class="index__list-item">
        {% if page.data.title == title %}
          {{ page.data.title }}
        {% else %}
          <a href="{{ page.url | url }}">{{ page.data.title }}</a>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
<hr class="divider"/>
<h2>{{ title }}</h2>

{{ content | safe }}
<button id="scrollToTop" aria-label="Scroll to top">↑ Top</button>
<script src="/scripts/scrollToTop.js"></script>